<% if (title) { %>
<h1><%= title %></h1>
<% messages() %>
    <a href="/inv/addClass"><p>Add New Classification</p></a>
    <a href="/inv/addInv"><p>Add New Vehicle</p></a>

<% } else {
  res.redirect('/')
} %>


